@font-face {
  font-family: "OswaldBold";
  src: url('fonts/Oswald-Bold.ttf?1330466400') format('truetype');
}
@font-face {
  font-family: "OpenSansRegular";
  src: url('fonts/OpenSans-Regular.ttf?1296597600') format('truetype');
}
@font-face {
  font-family: "OpenSansBold";
  src: url('fonts/OpenSans-Bold.ttf?1296597600') format('truetype');
}
@font-face {
  font-family: "OpenSansLight";
  src: url('fonts/OpenSans-Light.ttf?1296597600') format('truetype');
}
/* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

@media (max-width: 682px) {
  /* line 3, ../scss/mobile.scss */
  .item {
    padding: 24px 0;
  }

  /* line 7, ../scss/mobile.scss */
  .product-details h1 {
    padding-left: 37px;
    padding-right: 86px;
    font-size: 2em;
    line-height: 1.5em;
  }
  /* line 12, ../scss/mobile.scss */
  .product-details .product-id {
    font-size: 1em;
    line-height: 2.70833em;
    padding: 5px 0 16px;
  }
  /* line 17, ../scss/mobile.scss */
  .product-details .product-price {
    font-size: 3em;
    line-height: 0.20444em;
  }
  /* line 19, ../scss/mobile.scss */
  .product-details .product-price .price-cost {
    padding-right: 20px;
  }
  /* line 23, ../scss/mobile.scss */
  .product-details .product-info {
    padding: 0 37px;
  }
  /* line 26, ../scss/mobile.scss */
  .product-details .product-description {
    font-size: 1.16667em;
    line-height: 1.42857em;
  }
  /* line 28, ../scss/mobile.scss */
  .product-details .product-description p {
    padding: 5px 0 27px 2px;
  }
  /* line 33, ../scss/mobile.scss */
  .product-details .product-share ul {
    margin-bottom: 20px;
    margin-top: 32px;
  }
  /* line 36, ../scss/mobile.scss */
  .product-details .product-share ul li:first-child {
    margin-left: 0;
  }

  /* line 43, ../scss/mobile.scss */
  .form-size ul {
    padding-bottom: 30px;
  }
  /* line 46, ../scss/mobile.scss */
  .form-size label {
    padding: 5px 0 10px;
  }

  /* line 50, ../scss/mobile.scss */
  h2 {
    font-size: 2em;
    line-height: 1.35417em;
    padding-top: 80px;
    padding-bottom: 16px;
  }

  /* line 56, ../scss/mobile.scss */
  .slider .grid {
    position: relative;
  }

  /* line 60, ../scss/mobile.scss */
  .grid-price {
    font-family: "OpenSansBold", sans-serif;
    font-size: 1.5em;
    line-height: 1.80556em;
    letter-spacing: 0.075em;
    display: inline-block;
  }

  /* line 66, ../scss/mobile.scss */
  .cover {
    height: 265px;
    max-width: 358px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  /* line 72, ../scss/mobile.scss */
  .cover .prev, .cover .next {
    display: inline-block;
    width: 29px;
    height: 50px;
    position: absolute;
    top: 40%;
  }
  /* line 79, ../scss/mobile.scss */
  .cover .grid-image {
    width: 280px;
  }
  /* line 82, ../scss/mobile.scss */
  .cover .prev {
    background: url(../images/arrow.png) 0 0 no-repeat;
    left: 0;
  }
  /* line 86, ../scss/mobile.scss */
  .cover .next {
    background: url(../images/arrow.png) -29px 0 no-repeat;
    right: 0;
  }

  /* line 91, ../scss/mobile.scss */
  .mobile-none {
    display: none;
  }

  /* line 94, ../scss/mobile.scss */
  .col-100 {
    width: 100%;
  }
}
