@font-face {
  font-family: "OswaldBold";
  src: url('fonts/Oswald-Bold.ttf?1330466400') format('truetype');
}
@font-face {
  font-family: "OpenSansRegular";
  src: url('fonts/OpenSans-Regular.ttf?1296597600') format('truetype');
}
@font-face {
  font-family: "OpenSansBold";
  src: url('fonts/OpenSans-Bold.ttf?1296597600') format('truetype');
}
@font-face {
  font-family: "OpenSansLight";
  src: url('fonts/OpenSans-Light.ttf?1296597600') format('truetype');
}
/* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 3, ../scss/style.scss */
body {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  background: #f6f6f6;
  color: #282828;
}

/* line 11, ../scss/style.scss */
.float-left {
  float: left;
}

/* line 15, ../scss/style.scss */
.float-right {
  float: right;
}

/* line 19, ../scss/style.scss */
.tablet-none {
  display: none;
}

/* line 23, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 26, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 30, ../scss/style.scss */
h1 {
  font-family: "OswaldBold", sans-serif;
  padding-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* line 37, ../scss/style.scss */
h2 {
  text-transform: uppercase;
  color: #2c303d;
  font-family: "OpenSansBold", sans-serif;
  letter-spacing: 0.05em;
}

/* line 27, ../scss/variables.scss */
.product-details:after {
  content: "";
  display: table;
  clear: both;
}
/* line 45, ../scss/style.scss */
.product-details .product-id {
  color: #2c303d;
  letter-spacing: 0.05em;
}

/* line 52, ../scss/style.scss */
.product-image img {
  max-width: 100%;
}
/* line 55, ../scss/style.scss */
.product-image .product-id {
  letter-spacing: 0.05em;
}

/* line 59, ../scss/style.scss */
.product-price, .grid-price {
  font-family: "OpenSansBold", sans-serif;
  display: inline-block;
}
/* line 27, ../scss/variables.scss */
.product-price:after, .grid-price:after {
  content: "";
  display: table;
  clear: both;
}
/* line 63, ../scss/style.scss */
.product-price .price-sale, .grid-price .price-sale {
  color: #ce2c52;
}
/* line 66, ../scss/style.scss */
.product-price .price-final, .grid-price .price-final {
  color: #ce2c52;
}

/* line 70, ../scss/style.scss */
.rating {
  overflow: hidden;
  margin-top: 13px;
}
/* line 73, ../scss/style.scss */
.rating li {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 3px;
  background: url(../images/icons-stars.png) 0 0 no-repeat;
}
/* line 79, ../scss/style.scss */
.rating li.star, .rating li:hover {
  background-position: -17px 0;
}

/* line 86, ../scss/style.scss */
.product-share ul li {
  display: inline-block;
  margin: 0 6px;
}
/* line 91, ../scss/style.scss */
.product-share i {
  display: inline-block;
  width: 41px;
  height: 41px;
  background: url(../images/icons-social.png) 0 0 no-repeat;
}
/* line 97, ../scss/style.scss */
.product-share .icon-tw {
  background-position: -42px 0;
}
/* line 98, ../scss/style.scss */
.product-share .icon-pn {
  background-position: -84px 0;
}
/* line 99, ../scss/style.scss */
.product-share .icon-yt {
  background-position: -126px 0;
}
/* line 100, ../scss/style.scss */
.product-share .icon-in {
  background-position: -168px 0;
}

/* line 103, ../scss/style.scss */
.product-description p {
  letter-spacing: 0.025em;
}

/* line 107, ../scss/style.scss */
.form-size {
  text-align: center;
  font-size: 1.66667em;
  line-height: 1.625em;
  font-family: "OpenSansBold", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
/* line 113, ../scss/style.scss */
.form-size label {
  display: block;
}
/* line 116, ../scss/style.scss */
.form-size li {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 0 11px;
  font-size: 11px;
  border: 1px solid #2c303d;
  color: #2c303d;
  line-height: 38px;
  vertical-align: middle;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
/* line 128, ../scss/style.scss */
.form-size li:hover, .form-size li:focus {
  background: #2c303d;
  color: #fff;
}
/* line 133, ../scss/style.scss */
.form-size .button {
  display: block;
  height: 57px;
  padding: 0 75px 0 70px;
  background: #8ae6cf;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1.71778em;
  font-family: "OpenSansBold", sans-serif;
  color: #2c303d;
  vertical-align: middle;
  border: none;
  letter-spacing: 0.05em;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  margin: 0 auto;
}

/* line 149, ../scss/style.scss */
.slider {
  text-align: center;
}

/* line 153, ../scss/style.scss */
.grid .grid-image {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}
/* line 158, ../scss/style.scss */
.grid .grid-image img {
  max-width: 100%;
}
/* line 162, ../scss/style.scss */
.grid .grid-price {
  position: absolute;
  background: #8ae6cf;
  bottom: 4px;
  width: 100%;
  left: 0;
  opacity: 0.8;
}
/* line 170, ../scss/style.scss */
.grid .price-final {
  padding-left: 11px;
}
